/*#filaimagen {
    width: 1200px; 
    height: 400px;  
    margin: 30px;
    border-color: rgb(204, 11, 11);
    border-style:double;  
} */
#fondo {
    background-image: url("../img/fondo_portfolio2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
/*   height: 40vh;  */
   height: 400px;  
   width: 1200px;
   border-radius: 10px;
}
.bordeado {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 5px;
}
.foto-mgc {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-position: left bottom;
}
.logo_ap {
    width: 200px; 
    height: 50px;
    object-position: right top;
}
.logo-utn {
    width: 80px; 
    height: 60px;
}
.logo-ort {
    width: 75px; 
    height: 50px;
}
.logo-adv {
    width: 100px; 
    height: 50px;
}
.logo-renaper {
    width: 110px; 
    height: 50px;
}

.fila-estudios {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    text-align:left;
}

.encabezado1 {
    text-align: center;
}

#main-footer {
    height: 80px;
    padding-top: 20px;
  }
  
#main-footer p {
    float: left;
  }
  
#main-footer ul {
    float: right;
    list-style: none;
  }
  
#main-footer ul li {
    float: left;
    padding: 10px;
  }
